.wrapper, .loginForm {
  display: flex;
  flex-direction: column;
}

.wrapper {
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  width: 40%;
  max-width: 400px;
  min-width: 200px;
}

.center {
  text-align: center;
}

.loginForm {
  & > div, button {
    margin: 20px 0;
  }
}

.formError {
  height: 25px;
}

.errorMessage {
  color: red;
  font-size: 20px;
  font-weight: 200;
}
